
.taskPanelAppUnit {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
  align-items: center;
  justify-content: center;
    position: relative;
    user-select: none;

    &:hover,
    &.appIsActive {
        background: rgba(255, 255, 255, 0.05);
    }

    .taskPanelAppIcon {
        width: 30px;
        height: 30px;
    }

    &:active .taskPanelAppIcon {
        transition: width 0.08s, height 0.08s;
        width: 25px;
        height: 25px;
    }

    .isAppOpen {
        position: absolute;
        bottom: -1px;
        background: #6b6b6b;
        height: 3px;
        width: 6px;
        border-radius: 3px;
        left: 50%;
        transform: translate(-50%, -50%);

        &.appInFocus {
            width: 16px;
            background: #1c88e7;
        }
    }
}
