{
    "extends": ["react-app", "react-app/jest"],
    "plugins": ["unused-imports", "import", "@typescript-eslint"],
    "rules": {
      "import/order": [
        "error",
        {
          "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "type"],
          "newlines-between": "never",
          "pathGroups": [
            { "pattern": "Components/**", "group": "internal" },
            { "pattern": "Containers/**", "group": "internal" },
            { "pattern": "Constants/**", "group": "internal" },
            { "pattern": "Store/**", "group": "internal" },
            { "pattern": "Hooks/**", "group": "internal" },
            { "pattern": "Types/**", "group": "internal" },
            { "pattern": "Icons/**", "group": "internal" },
            { "pattern": "Modals/**", "group": "internal" },
            { "pattern": "Scss/**", "group": "internal" },
            { "pattern": "**/*.types", "group": "type", "position": "after" }
          ],
          "pathGroupsExcludedImportTypes": ["builtin"]
        }
      ],
      "@typescript-eslint/member-delimiter-style": [
        "error",
        {
          "multiline": {
            "delimiter": "semi",
            "requireLast": true
          },
          "singleline": {
            "delimiter": "semi",
            "requireLast": true
          }
        }
      ],
        "import/no-unresolved": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "warn",
          {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_"
          }
        ],
        "no-unused-vars": "off",
        "no-console": "warn",
        "jsx-quotes": ["error", "prefer-single"],
        "prefer-const": "warn",
        "indent": ["warn", 4],
        "comma-dangle": ["error", "always-multiline"],
        "no-trailing-spaces": "error",
        "semi": "error",
        "no-use-before-define": "warn",
        "one-var-declaration-per-line": "warn",
        "prefer-arrow-callback": "warn",
        "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
        "object-curly-spacing": [
            "error",
            "always",
            { "objectsInObjects": true }
        ],
        "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
        "newline-after-var": ["error", "always"],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "@typescript-eslint/no-explicit-any": "warn",
        "jsx-a11y/click-events-have-key-events": "off"
    }
}
