{
    "extends": ["react-app", "react-app/jest"],
    "plugins": ["unused-imports"],
    "rules": {
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "warn",
          {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_"
          }
        ],
        "no-unused-vars": "off",
        "no-console": "warn",
        "jsx-quotes": ["error", "prefer-single"],
        "prefer-const": "warn",
        "indent": ["warn", 4],
        "comma-dangle": ["error", "always-multiline"],
        "semi": "error",
        "no-use-before-define": "warn",
        "one-var-declaration-per-line": "warn",
        "prefer-arrow-callback": "warn",
        "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
        "object-curly-spacing": [
            "error",
            "always",
            { "objectsInObjects": true }
        ],
        "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
        "newline-after-var": ["error", "always"],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "@typescript-eslint/no-explicit-any": "warn",
        "jsx-a11y/click-events-have-key-events": "off"
    }
}
