.file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    .tooltip {
        background-color: #333;
        color: #fff;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        pointer-events: none;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 25px;
        left: 70px;
    }
    &:hover {
        background: rgba(179, 180, 179, 0.4);
    }
    .fileName {
        font-size: 12px;
        color: white;
        margin-top: 5px;
        text-align: center;
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
