.window {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 700px;
  height: 500px;
  background: #202020;
  border: 1px solid #c1c1c1;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    flex: 0 0 auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding-left: 15px;
    top: 0;
    z-index: 10;
    background: #d9d9d9;
  }

  .content {
    flex: 1 1 auto;
    overflow: auto;
    padding: 10px;
    //display: flex;
    //width: auto;
  }

  .windowButtons {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .iconWrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      &:hover {
        background: #cbcbcb;
        &:last-child {
          background: red;
        }
        svg {
          path {
            fill: white;
          }
        }
      }
    }
    svg {
      width: 25px;
      height: 25px;
    }
  }


  .resizeHandleRight {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
  }

  .resizeHandleBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: ns-resize;
  }

  .resizeHandleCorner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
  }
}
