.textWindowWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 10px);
    .saveMessage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: grey;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        opacity: 0;
        animation: fadeInOut 2s forwards;
    }
    textarea {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background: #cfcfcf;
        padding: 10px;
        resize: none;
        border: none;
        &:focus {
            outline: none;
        }
    }
    .footer {
        display: flex;
        height: 30px;
        width: calc(100% - 20px);
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 10px;
        font-size: 11px;
        .fileSettings {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 180px;
            .settingItem {
                &:first-child {
                    width: 42px;
                    color: #127fb5;
                }
            }
        }
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
