.folder {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #ccc;
    height: calc(100% - 40px);
    box-sizing: border-box;
  .folderHeader{
    display: flex;
    padding: 10px 0;
    gap: 20px;
  }
}
