body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --TASK_PANEL_ELEMENT_FOCUS: #f7f5f5;
}

/* Глобальний стиль для всіх скролбарів */
::-webkit-scrollbar {
    width: 8px; /* Ширина для вертикального скролу */
    height: 8px; /* Висота для горизонтального скролу */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Колір фону */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; /* Колір бігуна */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Колір при наведенні */
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    .taskPanelAppTooltip {
        background-color: #f3f3f3;
        color: black;
        user-select: none;
        max-width: 180px;
        .tooltipArrow {
            display: none;
        }
    }
}

body .llpopup {
    display: none !important;
}
