body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --TASK_PANEL_ELEMENT_FOCUS: #f7f5f5;
}

::-webkit-scrollbar {
    width: 8px!important;
    height: 8px!important;
}

::-webkit-scrollbar-track {
  background: none!important;
}


::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05)!important;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer!important;
  background: white!important;

}

.window {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    .taskPanelAppTooltip {
        background-color: #f3f3f3;
        color: black;
        user-select: none;
        max-width: 180px;
        .tooltipArrow {
            display: none;
        }
    }
}

body .llpopup {
    display: none !important;
}
