$black-space: #535353;
$tricorn-black: #2f2f2f;
$orochimaru: #d9d9d9;
$spanish-grey: #979797;
$carbon: #333333;
$white: #ffffff;
$wizard-blue: #0077d6;
$ai-grey: #a1a1a1;
$light-house: #f4f4f4;
$clouded-blue: #1b79f1;
$noghrei-silver: #bdbdbd;